body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.days-of-week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    margin-bottom: 5px;
    font-weight: bold;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    width: 210px;
    text-align: center;
}

.day {
    padding: 10px;
    border: 1px solid #ddd;
    cursor: pointer;
    text-align: center;
}

.today {
    background-color: #979797; /* Color amarillo para el día actual */
}

.present {
    background-color: #25c24c;
}

.absent {
    background-color: #c52b23;
}